@import url("https://fonts.googleapis.com/css2?family=Everbright+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Figma Hand";
  src: url("/fonts/FigmaHand.woff2") format("woff2");
}

:root {
  --primary-blue: #42b5e7;
}

.font-hand {
  font-family: "Figma Hand", cursive;
}

.font-everbright {
  font-family: "Everbright Sans", sans-serif;
}

